<div class="list-group">
  <a href="#" class="list-group-item" data-toggle="modal" data-target="#editEvent<%= event.id %>">
    <h4 class="list-group-item-heading"><%= project_name(event) %></h4>
    <p class="list-group-item-text"><%= event.description %></p>
    <p class="list-group-item-text"><%= event_duration(event) %></p>
  </a>

  <%= render partial: 'welcome/partials/edit_event', locals: { event: event } %>
</div>