<div class="list-group-item" id="eventInfo<%= event.id %>">
  <div class="row">
    <div class="col-xs-10">
      <a href="#" data-toggle="modal" data-target="#addEvent<%= event.id %>">
        <h4 class="list-group-item-heading"><%= project_name(event) %></h4>
        <p class="list-group-item-text"><%= event.description %></p>
        <p class="list-group-item-text"><%= event_duration(event) %></p>
      </a>
    </div>
    <div class="col-xs-2">
      <% unless event.gefroren? %>
        <%= link_to event_path(event.id), remove_options(method: :delete) do %>
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        <% end %>
      <% end %>
    </div>
  </div>

  <% unless event.gefroren? %>
    <%= render partial: 'application/modal',
               locals: {
                       resource_name: "Event#{event.id}",
                       resource_id: "Event#{event.id}",
                       resource_title: 'Event',
                       body: 'welcome/event_form',
                       form_params: { event: event }
               } %>
  <% end %>
</div>