<div class="daily-events-container">
  <div class="row">
    <%= form_for event, html:{class: 'col s12'}, namespace: event.persisted? ? 'e' : 'n', remote: true do |f| %>
      <div id="date-input-container">
        <%= react_component('DateInput', date: @date) %>
      </div>
      <%= f.hidden_field :user_id %>
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_area :description, class: "materialize-textarea validate #{validation_class(event, :description)}" %>
          <%= f.label 'Description' %>
          <%= validation_message(event, :description) %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
        <p class="range-field">
          <%= f.range_field :hours, :in => 0..12, :step => '1', class: "validate #{validation_class(event, :hours)}" %>          
          <%= validation_message(event, :hours) %>
          </p>
        </div>

        <div class="input-field col s6">
          <%= f.select :minutes, (0...60).step(15).to_a, {}, {class: "validate #{validation_class(event, :minutes)}"} %>
          <%= f.label 'Minutes' %>
          <%= validation_message(event, :minutes) %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <%= f.collection_select :project_id, current_user.projects, :id, :name, {}, {class: "validate #{validation_class(event, :project_id)}"} %>
          <%= f.label 'Project' %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s8">
          <%= f.check_box :ot, include_hidden: false, class: "validate #{validation_class(event, :ot)}" %>
          <%= f.label :ot, class: 'label' do %>
            Overtime
          <% end %>
          <%= validation_message(event, :ot) %>
        </div>
        <div class="input-field col s1">
          <a class="right-align btn-floating btn-medium waves-effect waves-light red" id="reset-form">
            <i class="material-icons">replay</i>
          </a>
        </div>
        <div class="input-field col s2">
          <%= f.submit 'Submit', data: { disable_with: 'Submitting...' }, class: 'btn' %>
        </div>
      </div>
    <% end %>
  </div>
</div>


