<div class="daily-events-container">
	<p class="project-name">Add a new event</p>    
	<%= form_for event, namespace: event.persisted? ? "edit_event_#{event.id}" : 'new_event', remote: true do |f| %>
		<%= f.hidden_field :worked_at, value: @date || event.worked_at %>
		<%= f.hidden_field :user_id %>
		<div class="row">
			<div class="input-field col s6">
				<%= f.label 'Description', class: 'label' %>
				<%= f.text_area :description, class: 'materialize-textarea' %>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s2" >
				<%= f.label 'Hours', class: 'label' %>
	  			<%= f.select :hours, (0..12).to_a%>
	  		</div>
	  	</div>
	  	<div class="row">
	  		<div class="input-field col s2">
	  			<%= f.label 'Minutes', class: 'label' %>
	  			<%= f.select :minutes, (0...60).step(15).to_a %>
	  		</div>
	  	</div>
	  	<div class="row">
	  		<div class="input-field col s3">
	  			<%= f.label 'Project', class: 'label' %>
	  			<%= f.collection_select :project_id, current_user.projects, :id, :name %>
	  		</div>
	  	</div>
	  	<div class="row">
	  		<div class="input-field col s12">
	  			<%= f.label 'Overtime', class: 'label' %>
	  			<%= f.check_box :ot, class: 'overtime-checkbox' %>
	  		</div>
	  	</div>
	  	<div class="row">
	  		<div class="input-field col s12">
	  			<%= f.submit 'Submit', data: { disable_with: 'Submitting...' }, class: "waves-effect waves-light btn" %>
	  		</div>
	  	</div>
	<% end %>
</div>
