<div class="datepicker-container row col-md-offset-4 col-md-4 col-xs-12 margin-bottom-20">
  <%= render partial: 'application/datepicker_with_submit_btn', locals: { url: root_path,
                                                                          placeholder: 'Check some other date...' } %>
</div>

<%= render partial: 'events' %>
<%= render partial: 'vacations' %>

<div class="row">
  <div class="col-md-offset-3 col-md-6 col-xs-12">
    <table id="userEventsTable"
           class="table table-striped table-bordered table-responsive"
           data-source="<%= data_table_events_path format: 'json' %>">

      <thead>
      <tr>
        <th>Project Name</th>
        <th>Amount</th>
        <th>Hours</th>
        <th class="visible-lg">Minutes</th>
        <th class="visible-lg">Worked At</th>
      </tr>
      </thead>

      <tbody>
      </tbody>
    </table>
  </div>
</div>

<%= react_component('Day', date: @date.to_s, url: events_url(date: @date, format: :json), pollInterval: 2000) %>