<%= react_component('Calendar', eventsUrl: events_path(format: 'json'), url: root_path(format: 'json', date: @date)) %>
<%= react_component('VacationRequests', requestsUrl: vacation_requests_path(format: 'json'), vacationDays: current_user.vacation_days_left) %>

<div id="new-event-form-container" class="modal">
  <div class="modal-content">
    <%= render partial: 'welcome/event_form', locals: { event: current_user.events.new(hours: 8) } %>
  </div>
</div>

<script>
  $( document ).ready(function() {
    $(document).on('click', '#n_new_event  #reset-form', function () {
      $('#new-event-form-container .modal-content')
          .html('<%= escape_javascript render(partial: 'welcome/event_form', locals: { event: current_user.events.new(hours: 8) }) %>');
      $('#new-event-form-container select').material_select('destroy');
      $('#new-event-form-container select').material_select();
      window.ReactRailsUJS.unmountComponents("#date-input-container");
      window.ReactRailsUJS.mountComponents("#date-input-container");
    });
    $(document).on('click', "form[id^='e_edit_event']  #reset-form", function () {
      var url = ($( "form[id^='e_edit_event']").attr('action')) + '/edit';
      $('#event-form-container').data('eventPath', url);
      $.ajax({
        url: $('#event-form-container').data('eventPath'),
        method: 'GET',
        dataType: 'html',
        cache: false,
        success: function(data) {
          $('#event-form-container .modal-content').html(data);
          $('#event-form-container select').material_select('destroy');
          $('#event-form-container select').material_select();
        },
        error: function(xhr, status, err) {
          console.error(status, err.toString());
        }.bind(this)
      });
    });
  });
</script>

<div id="new-vacation-form-container" class="modal">
  <div class="modal-content">
    <%= render partial: 'welcome/vacation_form', locals: { vacation: current_user.vacation_requests.new } %>
  </div>
</div>

<div id="event-form-container" class="modal">
  <div class="modal-content"></div>
</div>

<div id="vacation-form-container" class="modal">
  <div class="modal-content"></div>
</div>

<div id="feedback-modal" class="modal">
  <div class="modal-content">
    <%= render partial: 'feedbacks/form', locals: { feedback: Feedback.new } %>
  </div>
</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="right-align btn-floating btn-large waves-effect waves-light red modal-trigger b1" href="#calendar-modal">
    <i class="material-icons">today</i>
  </a>
  <a class="right-align btn-floating btn-large waves-effect waves-light red modal-trigger b2" href="#feedback-modal">
    <i class="material-icons">comment</i>
  </a>
</div>


<div id="page-bottom" style="padding-bottom: 55px"></div>
