<h3> Hello <%= @user.name %>, </h3>

<p>
  Your vacation from: <%= @vacation_request.vacation_from %>, to: <%= @vacation_request.vacation_to %>
  has been <%= @vacation_request.status %>.
</p>

<p>
  Please contact <%= @admin.name %> for further information!
</p>


