<div class="list-group-item" id="projectForUser<%= project.id %>">
  <div class="row">
    <div class="col-xs-8">
      <h4 class="list-group-item-heading"><%= link_to project.name, edit_admin_project_path(project) %></h4>
      <p class="list-group-item-text">Hourly Rate: <%= project_details(user_project).hourly_rate %></p>
      <p class="list-group-item-text">Hourly Rate OT: <%= project_details(user_project).hourly_rate_ot %></p>
      <p class="list-group-item-text">Available From: <%= project_details(user_project).available_from %></p>
    </div>

    <% content_for :custom_modal_id, "addProjectUpdate#{project.id}", flush: true %>

    <% content_for :custom_modal, nil, flush: true do %>
        <%= render partial: 'application/modal', locals: {
                                                       form_params: {
                                                               project: project, user_project: user_project
                                                       },
                                                       resource_name: "ProjectUpdate#{project.id}",
                                                       resource_id: "ProjectUpdate#{project.id}",
                                                       body: 'edit_project_form' } %>
    <% end %>

    <div class="col-xs-2">
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#<%= yield :custom_modal_id %>">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
      </button>
    </div>

    <%= yield :custom_modal %>

    <div class="col-xs-2">
      <%= link_to remove_project_admin_user_path(@user, project_id: project.id), remove_options do %>
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      <% end %>
    </div>
  </div>
</div>