<%= bootstrap_form_for user_project, url: { action: :add_project, params: { id: @user.id } }, remote: true do |f| %>
  <%= f.collection_select :project_id, projects, :id, :name %>

  <div class="form-group">
    <%= check_box_tag :userRateToggle %>
    <%= label_tag :userRateToggle, 'Differ rate to User default' %>
  </div>

  <div id="userRate">
    <%= f.fields_for :rates, user_project_rates do |rate| %>
      <%= rate.number_field :hourly_rate, step: :any %>
      <%= rate.number_field :hourly_rate_ot, step: :any %>
      <%= rate.text_field :available_from, class: 'datepicker' %>
      <%= rate.text_field :available_until, class: 'datepicker' %>
    <% end %>
  </div>

  <%= f.submit 'Submit', data: { disable_with: :submit } %>
<% end %>

<%= javascript_tag do %>
  $('#userRate').find('input.datepicker').customDatepicker({'orientation': 'bottom auto' });
<% end %>