<div class='col-xs-12'>
  <a href="#" class="btn btn-block <%= vacation_class vacation %>">
    <h4 class="list-group-item-heading"><%= vacation.length %> days (<%= vacation.human_type %>)</h4>
    <% if vacation.admin %>
      <h4 class="list-group-item-heading">Evaluated By: <%= vacation.admin.name %></h4>
    <% end %>

    <p class="list-group-item-text"><%= vacation.vacation_from.strftime '%B %d, %Y' %></p>
    <p class="list-group-item-text"><%= vacation.vacation_to.strftime '%B %d, %Y' %></p>
    <p class="list-group-item-text"><%= vacation.reason %></p>
  </a>
</div>