<div class="row" id="vacationWrapper">
  <div class="col-lg-offset-3 col-lg-6 col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading"><h4><%= "Paid Vacation Days Left: #{@user.vacation_days_left}" %></h4></div>
      <div class="panel-heading desktop"><h4>Paid Vacation Days Limit: <%= render partial: 'vacation_limit_form' %></h4></div>

      <div class="list-group" id=vacationForUser data-turbolinks-temporary>
        <% @user.vacation_requests.pending.each do |vacation| %>
          <div class="list-group-item" id="vacationInfo<%= vacation.id %>">
            <div class="row">
              <%= render partial: 'admin/users/vacation_info', locals: { vacation: vacation } %>

              <div class="approve-button">
                <%= link_to accept_admin_vacation_requests_path(vacation_id: vacation.id), remove_options(method: :post) do %>
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <% end %>
              </div>

              <div class="closing-button">
                <%= link_to decline_admin_vacation_requests_path(vacation_id: vacation.id), remove_options(method: :post) do %>
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>

        <% @user.vacation_requests.approved.this_year.each do |vacation| %>
          <div class="list-group-item" id="vacationInfo<%= vacation.id %>">
            <div class="row">
              <%= render partial: 'admin/users/vacation_info', locals: { vacation: vacation } %>
            </div>
          </div>
        <% end %>

        <% @user.vacation_requests.declined.this_year.each do |vacation| %>
          <div class="list-group-item" id="vacationInfo<%= vacation.id %>">
            <div class="row">
              <%= render partial: 'admin/users/vacation_info', locals: { vacation: vacation } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>