<% content_for :list_items do %>
  <% if @user.projects.any? %>
    <% @user.projects.each do |project| %>
      <div class="list-group-item">
        <h4 class="list-group-item-heading"><%= link_to project.name, edit_admin_project_path(project) %></h4>
      </div>
    <% end %>
  <% else %>
    <div class="list-group-item">
      <h4>User currently not associated with any project. Check projects here: <%= link_to 'Projects', admin_projects_path %></h4>
    </div>
  <% end %>
<% end %>

<% content_for :custom_modal_id, 'goToProjects' %>
<% content_for :panel_title, "Projects for: #{@user.name}" %>

<%= render file: 'admin/base/panel' %>

<% content_for :list_items, nil, flush: true do %>
  <!-- Making sure block is not empty -->
  <% @user.rates.each do |rate| %>
    <%= render partial: 'rate_info', locals: { rate: rate } %>
  <% end %>
<% end %>

<% content_for :panel_title, "Rates for: #{@user.name}", flush: true %>
<% content_for :custom_modal_id, 'addRate', flush: true %>

<% content_for :custom_modal, nil, flush: true do %>
  <%= render partial: 'admin/base/modal', locals: { resource_name: 'Rate', resource_id: 'Rate', body: 'rate_form' } %>
<% end %>


<%= render file: 'admin/base/panel' %>