<div class="page-header">
  <h1>
    <small>
      Holiday
    </small>
  </h1>

  <div class="row" id="holiday-form">
    <%= render partial: 'holiday_form' %>
  </div>
</div>

<div class="page-header">
  <h1>
    <small>
      Vacation Schedule
    </small>
  </h1>

  <%= bootstrap_form_tag(url: admin_vacation_requests_path, layout: :inline, method: :get, html: {class:'vacation-filter'}) do |f| %>
    <%= f.text_field :from_date, value: @from_date, hide_label: true, class: 'datepicker' %>
    <%= f.text_field :to_date, value: @to_date, hide_label: true, class: 'datepicker' %>
    <%= f.submit :Filter %>
  <% end %>

  <table class="table table-bordered" id="vacation-requests-table">
    <tr>
      <th>Name</th>
      <% (from_date..to_date).each do |date| %>
        <th><%= date.strftime('%d/%m') %></th>
      <% end %>
    </tr>

    <% @collection.each do |user, alerts| %>
      <tr>
        <td><%= user %></td>
        <% (alerts).each do |_, value| %>
          <td class="<%=vacation_alert_map value %>"></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>