<!DOCTYPE html>
<html>
<head>
  <title> <%= app_title %> </title>
  <%= stylesheet_link_tag    'admin', media: 'all' %>
  <%= javascript_include_tag 'admin' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<%= render 'layouts/admin/header' %>

<div class="container">
  <%= render 'layouts/messages' %>
  <% if flash[:partial] %>
    <%= render partial: flash[:partial] %>
  <% end %>

  <ol class="breadcrumb">
    <%= render_breadcrumbs :tag => :li, :separator => '' %>
  </ol>

  <%= yield %>
</div>

<%= render 'layouts/footer' %>
</body>
</html>