<!DOCTYPE html>
<html>
<head>
  <title> <%= app_title %> </title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
  <body class="light-blue lighten-5">
    <%= render 'layouts/application/header' %>

    <div class="container">
        <%= render 'layouts/messages' %>
        <% if flash[:partial] %>
          <%= render partial: flash[:partial] %>
        <% end %>

        <%= yield :breadcrumb %>

        <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
